[package]
name = "fselect"
version = "0.7.6"
authors = ["jhspetersson <jhspetersson@gmail.com>"]
description = "Find files with SQL-like queries"
keywords = ["find", "files", "sql", "query", "tool"]
categories = ["filesystem", "command-line-utilities", "command-line-interface"]
documentation = "https://github.com/jhspetersson/fselect/blob/master/docs/usage.md"
homepage = "https://github.com/jhspetersson/fselect"
repository = "https://github.com/jhspetersson/fselect"
readme = "README.md"
license = "MIT/Apache-2.0"
edition = "2018"

[features]
default = ["users"]

[dependencies]
ansi_term = "0.12"
atty = "0.2"
base64 = "0.13"
bytecount = "0.6"
chrono = "0.4"
chrono-english = "0.1"
csv = "1.0"
directories = "3.0"
humansize = "1.1"
imagesize = "0.9"
kamadak-exif = "0.5"
lazy_static = "1.3"
lscolors = "0.7"
matroska = "0.7"
mp3-metadata = "0.3"
mp4parse = "0.11"
rand = "0.8"
regex = "1.1"
rustyline = "8.0.0"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
sha-1 = "0.9"
sha2 = "0.9"
sha3 = "0.9"
toml = "0.5"
tree_magic = "0.2"
wana_kana = "2.0"
zip = "0.5"

[target.'cfg(unix)'.dependencies]
users = { version = "0.11", optional = true }
xattr = "0.2"

[profile.release]
lto = true